html,
body {
  margin: 0;
}
.field {
  overflow: hidden;
  
}
section {
  margin: -1%;
  padding: 20px;
}
.zone {
  background: #000;
  float: left;
  height: 10vw;
  margin: 1%;
  width: 15%;
  text-align: center;
  box-sizing: border-box;
}
.img_goblin {
  cursor: url("/src/img/hammer.png"), pointer;
  width: 4vw;
  height: 4vw;
  margin: 3.5vw;
}
.sidebar {
  height: 10%;
  width: 14%;
  top: 2%;
  right: 1%;
  position: fixed;
  background-color: white;
  border: 2px solid black;
  padding-top: 15px;
  padding-left: 15px;
}